USE [master]
GO

IF DB_ID(N'Patient Record Management System') IS NULL
BEGIN
    CREATE DATABASE [Patient Record Management System]
END
GO

USE [Patient Record Management System]
GO


CREATE TABLE [dbo].[Appointments](
	[Patient CNIC] [nvarchar](50) NOT NULL,
	[Patient Name] [nvarchar](100) NOT NULL,
	[Doctor ID] [int] NOT NULL,
	[Doctor Name] [nvarchar](100) NOT NULL,
	[Appointment Date] [date] NOT NULL,
	[Appointment Time] [time](7) NOT NULL,
	[Symptoms] [nvarchar](300) NULL,
	[Created At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Patient CNIC] ASC,
	[Created At] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


CREATE TABLE [dbo].[Doctor](
	[Doctor ID] [int] IDENTITY(1,1) NOT NULL,
	[Doctor Name] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Doctor ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


CREATE TABLE [dbo].[Patient](
	[Patient CNIC] [varchar](15) NOT NULL,
	[Patient Name] [varchar](100) NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Address] [varchar](255) NOT NULL,
	[Diagnosis] [text] NOT NULL,
	[Prescription] [text] NOT NULL,
	[Visit Date] [date] NOT NULL,
	[Doctor ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Patient CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [Created At]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([Doctor ID])
REFERENCES [dbo].[Doctor] ([Doctor ID])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([Doctor ID])
REFERENCES [dbo].[Doctor] ([Doctor ID])
GO